/* *{
    border: 1px solid black;
} */
.contanerchild{
    border-bottom:1px solid #888;
}
.header{
    width:1200px;
    height:70px;
    margin: 0 auto;
}
.header .sidemenu{
    position: fixed;
    right:40px;
    top: 100px;
    height: 264px;
    z-index: 300;
    width:60px;
}
.header .sidemenu a{
    right:0;
    position: absolute;
    display:block;
    width:60px;
    height:88px;
}
.header .sidemenu a:nth-child(1){
    background:url("image/Tmembers.png") no-repeat;
    background-size: 100%; 
    top:0;
}
.header .sidemenu a:nth-child(2){
    background:url("image/Tmembers.png") no-repeat;
    background-size: 100%;
    background-position: 0 -177px; 
    top: 88px;
}
.header .sidemenu a:nth-child(3){
    background:url("image/Tmembers.png") no-repeat;
    background-size: 100%;
    background-position: 0 -354px; 
    top: 176px;
}
.header>div{
    float:left;
}
.header>.nav>ul>li{
    text-align: center;
    float:left;
    position: relative;
}
.header>.nav>ul>li>a{
    font-family: 'NanumBarunGothic','malgun gothic','nanum gothic';
    padding: 28px;
    line-height: 70px;
    font-size:1.2em;
    color:#333;
}
.header>.nav>ul:hover ul{
    display: block;
}
.header>.nav>ul>li:hover>ul{
    background:#addcf9;
}
.header>.nav>ul>li>ul{
    display: none;
    width:100%;
    transition: 0.5s all ease;
    background:white;
    padding: 0.7px;
    box-sizing: content-box;
}
.header>.nav>ul>li>ul{
    border-top: 1px solid #888;
}
.header>.nav>ul>li>ul>li{
    width:100%;
}
.header>.nav>ul>li>ul>li>a{
    transition: 0.5s all ease;
    font-size:0.9em;
    height: 26px;
    width:100%;
    font-weight: bolder;
    display: block;
    padding: 5px;
    color:rgb(61, 127, 189);
    line-height: 1.5em;
    
}
.header>.nav>ul>li:hover>ul>li>a{
    color:rgb(23, 108, 187);
}
.header>.nav>ul>li:hover>ul{
}
.header>.nav>ul>li:hover>ul>li>a>div{
    border-bottom:1px solid #bbb;
}
.header>.nav>ul>li>ul>li>a>div{
    display: inline-block;
    width:90px;
    padding-bottom: 5px;
    border-bottom:1px solid #ccc;
}
.header>.nav>ul>li>ul>li:last-child>a>div{
    border-bottom:0;
}
.header>.nav>ul>li>ul{
    position: absolute;
    z-index: 100;
    left:50%;
    transform: translate(-50%,0);
}
.callnum{
    width:300px;
}
.logo{
}
.logo a{
    margin-top:10px;
    display: inline-block;
}
.logo a img{
}
.nav>ul>li{
    float: left;
}
.jumbotron{
    width:100%;
    height:460px;
    overflow: hidden;
    position: relative;
}
.jumbobox{
    position: relative;
    width:100%;
    height:460px;
    cursor: pointer;
}
.cont1,.cont2,.cont3,.cont4,.cont5{
    height:460px;
    position: absolute;
}
.cont1{
    width:100%;
    height:100%;
    left:-100%;
    background:url(image/main03.png) center no-repeat;
    background-size: 100% 100%;
}
.cont2{
    width:100%;
    height:100%;
    left:00%;
    background:url(image/main01.png) center no-repeat;
    background-size: 100% 100%;
}
.cont3{
    width:100%;
    height:100%;
    left:100%;
    background:url(image/main02.png) center no-repeat;
    background-size: 100% 100%;
}
.cont4{
    width:100%;
    height:100%;
    left:200%;
    background:url(image/main03.png) center no-repeat;
    background-size: 100% 100%;
}
.cont5{
    width:100%;
    height:100%;
    left:300%;
    background:url(image/main01.png) center no-repeat;
    background-size: 100% 100%;
}
.next{
    position: absolute;
    top: 50%;
    right: 180px;
    font-size:6em;
    transform: translate(0,-50%);
    color:#666;
}
.prev{
    position: absolute;
    top: 50%;
    left: 180px;
    font-size:6em;
    transform: translate(0,-50%);
    color:#666;
}
.titlebox{ 
    padding-bottom: 88px;
    background: #efefef;
}
.titleboxtxt{
    text-align: center;
    font-family: 'nanumbarun';
    font-size: 3em;
    font-weight: bold;
    padding: 20px;
    color:#333;
}
.linkbox{
    width:1000px;
    height: 270px;
    margin:0 auto;
}
.linkbox1, .linkbox2, .linkbox3{
    background: #ffffff;
    position: relative;
    width:33.33%;
    height:100%;
    float:left;
    cursor:pointer;
    transition: 0.5s all ease;
    text-align: center;
}
.linkbox1{
    background:#8fcdf4;
}
.linkbox h4{
    line-height: 1.3em;
    margin-top: 10px;
    font-family: "NanumSquare";
    font-size:1.8em;
    font-weight: bolder;
}
.linkbox a{
    position:absolute;
    right:5px;
    bottom:5px;
}
.linkboximg1, .linkboximg2, .linkboximg3{
    width:93%;
    height:60%;
    display:inline-block;
    margin-top:10px;
}
.linkboximg1{
    background:url(image/smartwebimg.jpg);
    background-size:100% 100%;
}
.linkboximg2{
    background:url(image/cadimg.jpg);
    background-size:100% 100%;
}
.linkboximg3{
    background:url(image/java1.jpg);
    background-size:100% 100%;
}
.greenfooter{
    height:100px;
    background:#ccc;
    padding: 10px 0;
}
.footerbox{
    position: relative;
    width:1000px;
    height:100%;
    margin:0 auto;
}
.callbox{
    width:180px;
    position:absolute;
    right:0px;
}
.callbox img{
    width:100%;
}
footer{
    font-size:12px;
    color:#666;
}
.footerulbar li{
    float:left;
}
.footerulbar li a{
    font-family: 'nanumbarungothic';
    font-weight:bolder;
    font-size:1.1em;
    color:#444;
    display: block;
    padding: 10px 25px;;
}
.footerulbar li a:first-child{
    padding-left:0px;
}
.footerulbar li a:hover{
    color:#000;
}
.footerulbar2{
    width:70%;
}
.footerulbar2 li{
    float:left;
    line-height:1.5em;
}