@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Neucha');
/* jumbotron */
.jumbotron{
    position:relative;
    height:660px;
}
.jumbotron .cont1,.jumbotron .cont4{
    background-image:url(../images/img01.jpg);
}
.jumbotron .cont2,.jumbotron .cont5{
    background-image:url(../images/img02.jpg);
}
.jumbotron .cont3{
    background-image:url(../images/img03.jpg);
}
.jumbotron .cont1,
.jumbotron .cont2,
.jumbotron .cont3,
.jumbotron .cont4,
.jumbotron .cont5{
    height:660px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 50% 50%;
    text-align:center;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:1;
  
}
.jumbotron .txt01{ 
    font-family: 'Neucha', cursive;
    font-size:6em;
    line-height:1em;
    color:#fff;
    padding-top:170px;
}
.jumbotron .txt02{
    font-size:1.2em;
    color:#fff;
    padding-top:30px;
}
.jumbotron .links{
    z-index:10;
    position: absolute;
    bottom:10%;
    left:48%;
    /* border:solid 1px #f00; */
}
.jumbotron .links a{
    display: inline-block;
    width:15px;
    height:15px;
    /* 글자 숨기기 */
    text-indent: -9999px;
    font-size:1px;
    background:#fff;
    border-radius: 8px;
    transition: all 0.5s ease-in-out 0.1s;
}
.jumbotron .links a.active{
    background:#00f;
}

.jumbotron .prev{
    position:absolute;
    font-size:5em;
    font-weight:bold;
    left:10px;
    top:40%;
    z-index:10;
}
.jumbotron .next{
    position:absolute;
    font-size:5em;
    font-weight:bold;
    right:10px;
    top:40%;
    z-index:10;
}

/* 배너 */
.banner{
    padding:100px 0;
}
.banner h2{
    text-align: center;
    color:#8fd3e8;
    font-size:4em;
    font-family: 'Neucha', cursive;
    padding-bottom:80px;
}
.banner h2 .small{
    font-size:1rem;
    color:#666;
    font-family: 'Nanum Gothic', sans-serif; 
}
.banner .list li{
    float:left;
    width:25%;
    text-align: center;
}
.banner .list li:nth-child(2){
    margin:0 12.5%;
}
.banner .list li:nth-child(3){
    float:right
}

.banner .list li .txt01{
    font-size:2em;
    color:#8fd3e8;
    padding-bottom:1em;
}
.banner .list li .txt02{
    color:#666;
    padding-bottom:2em;
    line-height:1.5em;
}
.banner .list li button{
    background:#8fd3e8;
    color:#fff;
    border:none;
    font-size:1.2em;
    padding:0.9em 2em;
    font-weight:bold;
    cursor: pointer;
}

/* 갤러리 */
.gallery img{
    width:100%;
}
.gallery .item{
    width:20%;
    float:left;
    position: relative;
}
.gallery .over{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height:100%;
    background: rgba(255,255,255,0.5);
    opacity: 0;
    cursor: pointer;
    transition:all 0.5s ease 0.1s;
}
.gallery .item:hover .over{
    opacity: 1;
}
.gallery .over a{
    position: absolute;
    bottom:20px;
}
.gallery .over a:nth-child(1){
    left:20px;
}
.gallery .over a:nth-child(2){
    right:20px;
}

