.container{
    width:1200px;
}
.maincontainer0207 .header{
    
    background:#fff;
}
.maincontainer0207 .header .logobox{
    width:fit-content;
    display:block;
    margin:0 auto;
}
.maincontainer0207 .header .navbox{
    width:100%;
    background:#ffc421;
    font-size:16px;
    margin:0 auto;
    height: 60px;
}
.maincontainer0207 .header .navbox>a{
    display:block;
    float:left;
}
.maincontainer0207 .header .navbox .logo{
    padding:6px;
}
.maincontainer0207 .header .navbox .navigation {
    width:fit-content;
    margin:0 auto;
}
.maincontainer0207 .header .navbox .navigation>li{
    float:left;
    position: relative;
}
.maincontainer0207 .header .navbox .navigation>li a{
    font-family: "sans-serif";
    text-shadow: 0 0 0px #444;
    color:#444;
    display:block;
    padding: 1.3em 1.8em 1.3em 1.8em;
}
.maincontainer0207 .header .navbox .navigation>li>ul{
    display:none;
}
.maincontainer0207 .mainCont1{
    height: 480px;
    background-image: url(../images/schilthorn-3033448_1280.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 50% 25%;
}
.maincontainer0207 .mainCont1{
    position: relative;
    text-align: center;
}
.maincontainer0207 .mainCont1 .num1_mainCont1title{
    color:#fff;
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: "Haan YGodic 230";
    font-size:3.8em;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
    letter-spacing: 0.08em;
}
.maincontainer0207 .mainCont1 .num1_mainCont1txt{
    color:#fff;
    position: absolute;
    top:45%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: "nanum gothic";
    font-size:2em;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}
.maincontainer0207 .mainCont1 .num1_mainCont1searchbox{
    position: absolute;
    top:65%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.maincontainer0207 .mainCont1 .num1_mainCont1searchbox form{
    position: relative;
}
.maincontainer0207 .mainCont1 .num1_mainCont1searchbox form input::placeholder{
    font-weight: bold;
    color:rgb(87, 87, 87);
}
.maincontainer0207 .mainCont1 .num1_mainCont1searchbox form .num1_mainCont1searchbar{
    color:#000;
    width:450px;
    font-size:1.2em;
    padding: 10px;
    background:rgba(255, 255, 255, 0.4);
    border:1.5px solid #ffc421;
}
.maincontainer0207 .mainCont1 .num1_mainCont1searchbox form .num1_mainCont1btn{
    position: absolute;
    right: 6px;
    top: 6px;
}
.maincontainer0207 .mainCont1 .num1_mainCont1searchbox form .num1_mainCont1btn i{
    font-size:2.3em;
    color:#555;
}
.maincontainer0207 .mainCont1 .num1_mainCont1searchbox .num1_recommendtxt{
    width:100%;
    padding:10px;
    text-align: left;
    color:rgb(255, 255, 255);
    background:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.1))
}
.maincontainer0207 .num2_mainCont2{
    color:#333;
    margin:0 auto;
    padding-top: 30px;
}
.maincontainer0207 .num2_mainCont2 .Cont2nav0208{
    width:fit-content;
}
.maincontainer0207 .num2_mainCont2 .Cont2nav0208 a{
    display:block;
    float:left;
    padding-top: 10px;
    padding:10px;
    font-weight: lighter;
}
.maincontainer0207 .num2_mainCont2 .Cont2nav0208>span{
    
    height:80%;
    border-right:1px solid black;
}
.maincontainer0207 .num2_mainCont2 .Cont2nav0208 a span{
    
    height:80%;
    border-right:1px solid black;
}
.maincontainer0207 .num2_mainCont2 .Cont2nav0208 .Cont2tit{
    padding-top: 0;
    font-weight: 700;
    font-size:1.6em;
    color:#ff5221;
}
.maincontainer0207 .num2_mainCont2 ul{
    vertical-align: bottom;
}
.maincontainer0207 .num2_mainCont2 ul li{
    font-size:0.9em;
    float:left;
}
.maincontainer0207 .num2_mainCont2 ul li:first-child{
    
    
}
.maincontainer0207 .num2_mainCont2 ul li a{
    display:block;
    padding: 10px;
}