.container{
    margin: 0 auto;
    width:1200px;
}
.maincontainer0207 .header{
    
    background:#fff;
}
.maincontainer0207 .header .headerbox{
    width:1000px;
    margin:20px auto;
}
.maincontainer0207 .header .logobox{
    float: left;
    width:fit-content;
    display:block;
    margin:0 auto;
}
.maincontainer0207 .num1_mainCont1searchbox{
    margin-top:7px;
    float: left;
}
.maincontainer0207 form{
    
    
    margin-left: 40px;
    width:fit-content;
    position: relative;
}
.maincontainer0207 form input::placeholder{
    font-weight: bold;
    color:rgb(87, 87, 87);
}
.maincontainer0207 form .num1_mainCont1searchbar{
    color:#000;
    width:450px;
    font-size:1.2em;
    padding: 10px;
    background:rgba(255, 255, 255, 0.4);
    border:1.5px solid #ffc421;
}
.maincontainer0207 form .num1_mainCont1btn{
    position: absolute;
    right: 6px;
    top: 6px;
}
.maincontainer0207 form .num1_mainCont1btn i{
    font-size:2.3em;
    color:#ffc421;
}
.maincontainer0207 .header .navbox{
    width:100%;
    background:#ffc421;
    font-size:16px;
    margin:0 auto;
    height: 60px;
}
.maincontainer0207 .header .navbox>a{
    display:block;
    float:left;
}
.maincontainer0207 .header .navbox .logo{
    padding:6px;
}
.maincontainer0207 .header .navbox .navigation {
    width:fit-content;
    margin:0 auto;
}
.maincontainer0207 .header .navbox .navigation>li{
    float:left;
    position: relative;
}
.maincontainer0207 .header .navbox .navigation>li a{
    font-family: "sans-serif";
    text-shadow: 0 0 0px #444;
    color:#444;
    display:block;
    padding: 1.3em 1.8em 1.3em 1.8em;
}
.maincontainer0207 .header .navbox .navigation>li>ul{
    display:none;
}
.container_1_0203 .Cont1tit0306{
    display: inline-block;
}
footer{
    background:#eeeeee;
}
footer .footer .footerBox1{
    margin:0 auto;
}
footer .footer .footerBox1 .footertxt1 a{
    font-size:14px;
    display:inline-block;
    padding: 10px;
    color:#888;
    text-align: left;
}
footer .footer .footerBox1 .footertxt1 a:hover{
    color:#555;
}
footer .footer .footerBox2{
    padding: 20px;
    background:#dddddd;
}
footer .footer .footerBox2 .footertxtBox2{
    font-size:12px;
    color:#666;
    margin:0 auto;
}
footer .footer .footerBox2 .footertxtBox2 .footertxt2{
    float:left;
}
footer .footer .footerBox2 .footertxtBox2 .footerimgbox{
    float:left;
    text-align: center;
}
footer .footer .footerBox2 .footertxtBox2 .footerimgbox img{
    width:50%;
    padding: 10px;
}